{% extends "base.html" %}

{% block content %}
  <h1>{{ recipe.name }}</h1>
  <p>{{ recipe.description }}</p>
  <p>Servings: {{recipe.servings}}</p>

  <h2>Ingredients</h2>
  <ul>
    {% for recipe_ingredient in recipe.recipeingredient_set.all %}
      <li>
        {% if recipe_ingredient.quantity%}
          <span>{{ recipe_ingredient.quantity|floatformat }}</span>
        {% endif %}
        {% if recipe_ingredient.unit %}
          <span>{{ recipe_ingredient.unit}}</span>
        {% endif %}
        <span>{{recipe_ingredient.ingredient}}</span> 
        {% if recipe_ingredient.prep_note %}
          <span>-</span>
            <span>{{recipe_ingredient.prep_note}}</span>
        {% endif %}
      </li>
    {% empty %}
      <li>No ingredients yet.</li>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
    <a href="{% url 'recipe_update' recipe.pk %}">Edit</a>
    <a href="{% url 'recipe_delete' recipe.pk %}">Delete</a>
  {% endif %}
{% endblock %}
